@mixin paragraph {
  color: $primary;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
  line-height: 1.5;
}

@mixin small-paragraph {
  color: $primary;
  font-family: $font-family-base;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  line-height: 1.2;
}
