@import "../styles/aq-bootstrap";
@import "../styles/mixins/typography";
$headerHeight: 54px;
$ContentHeight: 30px;

.site-header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: $headerHeight;
  padding: ($headerHeight - $ContentHeight) /2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  .brand-logo {
    flex: 0 1 150px;
    max-height: $ContentHeight;
  }
  .user-info {
    display: flex;
    align-items: center;
    position: relative;
  }
  .user-name {
    @include paragraph;
    margin-right: 10px;
  }
  .user-id {
    @include small-paragraph;
    color: $grey-600;
  }
  .user-avatar {
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    img {
      max-height: $ContentHeight;
      max-width: $ContentHeight;
    }
    &.verified:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 15px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $green-500;
    }
  }
}
